<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/chatroom.css" />
    <script src="/javascripts/getChatServerUrl.js" ></script>
    <script type="text/javascript">
        $(document).ready(function() {
            getChatServerUrl();
        })
    </script>
</head>
<body>
<%- include('header')%>
<div class="container">

    <div class="postContainer">

    </div>
    <div class="chatContainer">
        <div class="chatView" id="chatView" style="overflow: auto;">
        </div>
        <div class="chatForm">
            <form id="chatForm">
                <input type="text" name="message" id="chatTextBox" onkeypress="if(event.keyCode==13) {send(this.form.message.value); return false;}" autocomplete="off">
                <input type="button" id="chatSubmit" value="채팅" onclick="send(this.form.message.value)">
            </form>
        </div>
    </div>
</div>
</body>
</html>
