<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/chatroom.css" />
    <script src="/javascripts/getChatServerUrl.js" ></script>
    <script type="text/javascript">
        $(document).ready(function() {
            getChatServerUrl();
        })
    </script>
</head>
<body>
<%- include('header')%>
<div class="container">

    <div class="postContainer">

    </div>
    <div class="chatContainer">
        <div class="chatView" id="chatView" style="overflow: auto;">
            <div class="chatMessage_Container">
                <div class="chatMessage_divImage">
                    <img class="chatMessage_Image" src="/images/ChatMessage/publicUser2.png" alt="">
                </div>
                <div class="chatMessage_uid">
                    홍길동
                </div>
                <div class="chatMessage_message">
                    와 개 쩔었다.
                </div>
            </div>
            <div class="chatMessage_Container">
                <div class="chatMessage_divImage">
                    <img class="chatMessage_Image" src="/images/ChatMessage/publicUser2.png" alt="">
                </div>
                <div class="chatMessage_uid">
                    왕감자
                </div>
                <div class="chatMessage_message">
                    채팅 창 같다.
                </div>
            </div>
            <div class="chatMessage_Container">
                <div class="chatMessage_divImage">
                    <img class="chatMessage_Image" src="/images/ChatMessage/publicUser2.png" alt="">
                </div>
                <div class="chatMessage_uid">
                    왓더헥
                </div>
                <div class="chatMessage_message">
                    미쳤따리 미쳤따리 미쳤따리 미쳤따리 미쳤따리
                    미쳤따리 미쳤따리 미쳤따리
                </div>
            </div>
        </div>
        <div class="chatForm">
            <form id="chatForm">
                <input type="text" id="chatTextBox">
                <input type="button" id="chatSubmit" value="채팅">
            </form>
        </div>
    </div>
</div>
</body>
</html>
