<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/writeCard.css" />
    <script src="/javascripts/submitUrlHandler.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
<script>
    $(function() {
        $('#btn').click(function() {
            var formData = new FormData();
            formData.append("title", $("input[name=title]").val());
            formData.append("content", $("textarea[name=content]").text());
            formData.append("tag", $("input[name=tag]").val());
            formData.append("photo", $("input[name=photo]")[0].files[0]);
            formData.append("card_id", 0);

            $.ajax({
                url: '/users/card',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    if(data.success === true)
                        alert('포스팅 완료')
                    else
                        alert('포스팅 실패')
                    window.close();
                }
            });

        })
    })
</script>

<div class="container">
    <form class="writePost" id="frm_editPost" action="/users/card" method="post" enctype="multipart/form-data">
        <input type="text" name="user_ObjectId" style="display: none" />
        <input type="text" name="card_id" value="0" style="display: none"/>
        <div class="titleBox inputBox">
            Title : <input type="text" name="title" />
        </div>

        <div textarea class="contentBox inputBox">
            Content : <textarea rows="4" cols="50" name="content"></textarea>
        </div>
        <div class="tagBox inputBox">
            Tag : <input type="text" name="tag" placeholder="예) #태그내용 #태그내용"/>
        </div>
        <div class="fileBox inputBox">
            <input type="file" name="photo" value="File Upload">
        </div>
        <div class="commitBox inputBox">
            <input type="button" id="btn" value="Posting!" class="submit_btn">
        </div>
    </form>
</div>

</body>
</html>
