<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/writeCard.css" />
    <script src="/javascripts/submitUrlHandler.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
</head>
<body>

<div class="container">
    <form action="/users/card" onsubmit="editCardPost()" class="writePost" id="frm_editPost" enctype="multipart/form-data">
        <input type="text" name="user_ObjectId" style="display: none" />
        <input type="text" name="card_id" value="0" style="display: none"/>
        <div class="titleBox inputBox">
            Title : <input type="text" name="title" />
        </div>

        <div textarea class="contentBox inputBox">
            Content : <textarea rows="4" cols="50" name="content"></textarea>
        </div>
        <div class="tagBox inputBox">
            Tag : <input type="text" name="tag" placeholder="예) #태그내용 #태그내용"/>
        </div>
        <div class="fileBox inputBox">
            <input type="file" name="photo" value="File Upload">
        </div>
        <div class="commitBox inputBox">
            <input type="submit" value="Posting!" class="submit_btn">
        </div>
        <script type="text/javascript">
            function editCardPost(){
                submitUrlHandler("frm_editPost", "post", "/users/card", function(response){
                    alert("submuitUrlHandler가 작동합니다. : " + JSON.stringify(response));
                });
            }
        </script>

    </form>
</div>

</body>
</html>
