<link rel="stylesheet" href="/stylesheets/basic.css" />
<header>
    <div class="rightClass">

    </div>
    <div class="pageTitle">
        <h1>
            <a href="/">
                <%= title %>
            </a>
        </h1>
    </div>
    <div class="loginStatus">
        <%if (typeof uid != 'undefined') {%>
            <a href="/users/" + <%=uid%>>
                <%= uid %>
            </a>
            <a href="/users/logout">
                로그아웃
            </a>
        <%} else { %>
            <a href="/users/login">
                로그인
            </a>
        <%}%>
    </div>
</header>