<link rel="stylesheet" href="/stylesheets/basic.css" />
<header>
    <div class="rightClass">

    </div>
    <div class="pageTitle">
        <h1>
            <a href="/">
                <%= title %>
            </a>
        </h1>
    </div>
    <div class="loginStatus">
        <%if (typeof uid != 'undefined') {%>
        <a href="/users/mypage/<%=uid%>">
            <%= uid %>
        </a>

        <button id="btnLogout" class="button">Logout</button>

        <%} else { %>
        <a href="/users/login">
            로그인
        </a>
        <%}%>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#btnLogout').click(
                function (){
                    $.ajax({

                        'type' : 'GET',
                        'url' : '/users/logout',
                        'success' : function(json){
                            if(json['success'] === true){
                                alert(json['message']);
                                location.replace('http://localhost:3030/');
                            }else{
                                alert(json['message']);
                            }
                        }

                    });
                }
            )
        })
    </script>
</header>