<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/basic.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/javascripts/submitUrlHandler.js"></script>
    <script src="/javascripts/echarts.min.js"></script>
    <script src="/javascripts/echarts-wordcloud.min.js"></script>
    <script src="/javascripts/wordcloud.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script>
        $(document).ready(function(){
            $('#tagUrl').keyup(function(){    //keyup, keydown
                var word = $('#tagUrl').val();
                var _data = {word:word};
                $.ajax({
                    'type' : 'GET',
                    'url' : '/auto',
                    'data' : _data,
                    'async': false,
                    'success' : function(json){
                        if(json['success'] === true){
                            var dataList = json['data'];
                            $('#tagUrl').autocomplete({
                                minLength: 1,         // 입력키워드 최소 값 (예: 두글자 이상시 작동)
                                //영어는 알파벳 두자, 한글을 글자 두자 추천, 서버쪽으로의 트래픽도 줄이고, 검색된 데이터의 양이 너무 많아지는 것을 방지
                                autoFocus: false,   // 첫번째 추천어 자동표시
                                delay: 200,            // 반응지연시간 ( 클수록 반응은 느려지고 서버 부하는 줄어든다. )
                                response: function(event, ui) {
                                    console.log(ui);    //서버에서 응답이 오면 화면에 리스트를 보여주기 전에 실행, ui는 서버로 부터 보내온 배열 데이터
                                },
                                select: function(event, ui) {
                                    console.log(ui.item); //검색된 리스트에서 항목을 선택하면 실행
                                },
                                focus: function(event, ui) {    //한글 리스트에서 선택시 리스트가 사라지는 오류방지
                                    return false;
                                    //event.preventDefault();
                                },
                                source: dataList  // 자동완성 서버 URL
                            });
                        }else{
                            alert('get data fail');
                        }
                    }
                });
            });
        });
    </script>

  </head>
  <body>
  <%- include('header')%>

  <div class="rankRoom" id="wordcloudBox">
  </div>
  <script type="text/javascript">
      var dummyDataBinding = new Vue({
          data: {
              posts: [],
              errors: []
          },

          // Fetches posts when the component is created.
          created: function () {
              axios.get('/popTag/hotlist')
                  .then(function(response) {
                      // JSON responses are automatically parsed.
                      this.posts = response.data
                      wordcloud('wordcloudBox',response.data);
                  }.bind(this))
                  .catch(function(e) {
                      this.errors.push(e)
                  });
              console.log(this.posts)
          },
          computed: {
              reverse: function() {
                  return this.posts.reverse();
              },

              orderedUsers: function () {
                  return _.orderBy(this.posts, 'first_name')
              }
          },
          methods: {
          }
      });
  </script>

  <div class="anc_tagList">
    <a href="/popTag">태그 더 보기</a>
  </div>

  <div class="tagUrl">
    <form class="tagUrl" id="frm_tagUrl">
      <input type="text" id="tagUrl" class="input_tagUrl" placeholder="    입장할 태그를 입력하세요">
      <input type="submit" class="btn_url" value="이동" onclick="getChatRoom()">
    </form>
  </div>

  <script language="javascript">
    function getChatRoom(){
        var url = $('#tagUrl').val();
        submitUrlHandler("frm_tagUrl", "get", "chatrooms/tag/"+url, null);
    }
  </script>
  </body>
</html>
