<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script src="/javascripts/submitUrlHandler.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
  </head>
  <body>
  <%- include('header')%>

  <div class="anc_tagList">
    <a href="http://localhost:3000/tagList">더 보기..</a>
  </div>

  <div class="rankRoom">
    <a href="#">hello</a>
  </div>

  <div class="tagUrl">
    <form class="tagUrl" name="frm_tagUrl">
      <input type="text" id="tagUrl" class="input_tagUrl" placeholder="입장할 태그를 입력하세요">
      <input type="button" class="btn_url" value="이동" onclick="getChatRoom()">
    </form>
  </div>
  <script language="javascript">
    function getChatRoom(){
        var url = $('#tagUrl').val();
        submitUrlHandler("frm_tagUrl", "get", "chatrooms/"+url);
    }
  </script>
  </body>
</html>
