<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
</head>
<body>
    <%- include('header')%>
    <div class="loginTable">
        <div class="loginBox">
            <form class="loginForm">
                <input type="text" placeholder="Username" id="uid">
                <input type="password" placeholder="password" name="" id="password">
                <input type="button" value="로그인" id="loginButton">
                <input type="button" value="회원가입" id="registerButton">
            </form>
            <input type="button" value="Facebook" id="loginFacebookButton">
            <input type="button" value="kakaotalk" id="loginKakaoButton">
            <input type="button" value="naver" id="loginNaveButton">
        </div>
    </div>

</body>
</html>
