<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
    <script src="/javascripts/btnAjaxHandler.js"></script>
</head>
<body>

    <%- include('header')%>
    <div class="loginTable">
        <div class="loginBox">
            <h2>Login</h2>
            <form class="loginForm" name="frm_login" method="post" action="/auth/local">
                    <div class=form-input">
                        <input type="text" name="uid" placeholder="Username" id="uid"></div>
                    <div class="form-input">
                        <input type="password" name="password" placeholder="Password" id="password">
                     </div>
                <input type="button" value="Login" id="loginBtn" class="btn-login">

               <!--
                <form class="loginForm" name="frm_login" method="post" action="http://localhost:3000/auth/local">
                <input type="text" name="uid" placeholder="Username" id="uid">
                <input type="password" name="password" placeholder="password" id="password">
                <input type="button" value="로그인" id="loginBtn">-->

                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#loginBtn').click(
                            function (){
                                var _data = {
                                    uid: $("#uid").val(),
                                    password: $("#password").val()
                                };
                                $.ajax({
                                    'xhrFields': {
                                        withCredentials: true
                                    },
                                    'type' : 'POST',
                                    'url' : '/auth/local',
                                    'data' : _data,
                                    'success' : function(json){
                                        if(json['success'] === true){
                                            alert('로그인 완료!!');
                                            document.cookie = 'token='+json['data']['token'] + ';path=/';
                                            location.replace('/');
                                        }else{
                                            alert('로그인 실패');
                                        }
                                    }

                                });
                            }
                        )
                        $('#facebkBtn').click(
                            function (){
                                console.log("facebook click");
                                $.ajax({
                                    'xhrFields': {
                                        withCredentials: true
                                    },
                                    'type' : 'GET',
                                    'url' : '/auth/facebook',
                                    // 'headers': {
                                    //     'Content-Type':'application/x-www-from-urlencoded',
                                    //     'Access-Control-Allow-Origin':'http://192.168.0.15'
                                    // },
                                    'success' : function(json){
                                        if(json['success'] === true){
                                            alert('로그인 완료!!');
                                            document.cookie = 'token='+json['data']['token'] + ';path=/';
                                            location.replace('/');
                                        }else{
                                            alert('로그인 실패');
                                        }
                                    }

                                });
                            }
                        )
                        $('#googleBtn').click(
                            function (){
                                console.log("google click");
                                $.ajax({
                                    'xhrFields': {
                                        withCredentials: true
                                    },
                                    'type' : 'GET',
                                    'url' : '/auth/google',
                                    // 'headers': {
                                    //     'Content-Type':'application/x-www-from-urlencoded',
                                    //     'Access-Control-Allow-Origin':'http://192.168.0.15'
                                    // },
                                    'success' : function(json){
                                        if(json['success'] === true){
                                            alert('로그인 완료!!');
                                            document.cookie = 'token='+json['data']['token'] + ';path=/';
                                            location.replace('/');
                                        }else{
                                            alert('로그인 실패');
                                        }
                                    }

                                });
                            }
                        )
                    })
                </script>
            </form>

           <!-- <a href="/users/register"><button id="registerButton" onclick="registerButtonHandler()">Register</button></a>
           <a href="#"><input type="button" value="Facebook" id="loginFacebookButton"></a>-->

            <button class="loginBtn loginBtn--facebook" id="facebkBtn">
                Login with Facebook
            </button>

            <button class="loginBtn loginBtn--google" id="googleBtn">
                Login with Google
            </button>

            <p>
                <a href="/users/register">Register new account!</a>
            </p>


            <!-- <a href="#">Facebook Login</a>-->
           <!--
            <a href="#"><input type="button" value="kakaotalk" id="loginKakaoButton"></a>
            <a href="#"><input type="button" value="naver" id="loginNaveButton"></a>
        -->
        </div>
    </div>
</body>
</html>
