<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/myPage.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
</head>
<body>
<%- include('header')%>
<div class="container">
    <div class="userInfoBox">
        <div class="userLevelImg">
            <img src="" alt="">
        </div>
        <div class="userUid item">
            <%=uid%>
        </div>
        <div class="userEmail item">
            <%=email%>
        </div>
        <div class="anc_userInfoEdit">
            <a href="/users/editProfile">정보수정하기</a>
        </div>
    </div>
    <div class="line"></div>
    <div class="userPostBox">
        <a href="/posts/page/test" class="postItem">
            <div class="postItem_image">
                <img src="/images/post/test/XujRAcX9.jpg" alt="">
            </div>
            <div class="postItem_text">
                <div class="postItem_textTitle">
                    <h3 class="postTitle">타이틀 테스트</h3>
                </div>
                <div class="postItem_textContent">
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                </div>
            </div>
        </a>
        <a href="/posts/page/test" class="postItem">
            <div class="postItem_image">
                <img src="/images/post/test/XujRAcX9.jpg" alt="">
            </div>
            <div class="postItem_text">
                <div class="postItem_textTitle">
                    <h3 class="postTitle">타이틀 테스트</h3>
                </div>
                <div class="postItem_textContent">
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                </div>
            </div>
        </a>
        <a href="/posts/page/test" class="postItem">
            <div class="postItem_image">
                <img src="/images/post/test/XujRAcX9.jpg" alt="">
            </div>
            <div class="postItem_text">
                <div class="postItem_textTitle">
                    <h3 class="postTitle">타이틀 테스트</h3>
                </div>
                <div class="postItem_textContent">
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                </div>
            </div>
        </a>
        <a href="/posts/page/test" class="postItem">
            <div class="postItem_image">
                <img src="/images/post/test/XujRAcX9.jpg" alt="">
            </div>
            <div class="postItem_text">
                <div class="postItem_textTitle">
                    <h3 class="postTitle">타이틀 테스트</h3>
                </div>
                <div class="postItem_textContent">
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                </div>
            </div>
        </a>
        <a href="/posts/page/test" class="postItem">
            <div class="postItem_image">
                <img src="/images/post/test/XujRAcX9.jpg" alt="">
            </div>
            <div class="postItem_text">
                <div class="postItem_textTitle">
                    <h3 class="postTitle">타이틀 테스트</h3>
                </div>
                <div class="postItem_textContent">
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                </div>
            </div>
        </a>
        <a href="/posts/page/test" class="postItem">
            <div class="postItem_image">
                <img src="/images/post/test/XujRAcX9.jpg" alt="">
            </div>
            <div class="postItem_text">
                <div class="postItem_textTitle">
                    <h3 class="postTitle">타이틀 테스트</h3>
                </div>
                <div class="postItem_textContent">
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                </div>
            </div>
        </a>
        <a href="/posts/page/test" class="postItem">
            <div class="postItem_image">
                <img src="/images/post/test/XujRAcX9.jpg" alt="">
            </div>
            <div class="postItem_text">
                <div class="postItem_textTitle">
                    <h3 class="postTitle">타이틀 테스트</h3>
                </div>
                <div class="postItem_textContent">
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                </div>
            </div>
        </a>
        <a href="/posts/page/test" class="postItem">
            <div class="postItem_image">
                <img src="/images/post/test/XujRAcX9.jpg" alt="">
            </div>
            <div class="postItem_text">
                <div class="postItem_textTitle">
                    <h3 class="postTitle">타이틀 테스트</h3>
                </div>
                <div class="postItem_textContent">
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                </div>
            </div>
        </a>
        <a href="/posts/page/test" class="postItem">
            <div class="postItem_image">
                <img src="/images/post/test/XujRAcX9.jpg" alt="">
            </div>
            <div class="postItem_text">
                <div class="postItem_textTitle">
                    <h3 class="postTitle">타이틀 테스트</h3>
                </div>
                <div class="postItem_textContent">
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                </div>
            </div>
        </a>
        <a href="/posts/page/test" class="postItem">
            <div class="postItem_image">
                <img src="/images/post/test/XujRAcX9.jpg" alt="">
            </div>
            <div class="postItem_text">
                <div class="postItem_textTitle">
                    <h3 class="postTitle">타이틀 테스트</h3>
                </div>
                <div class="postItem_textContent">
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                    <div class="postLine">내용전달 내용전달 내용전달...</div>
                </div>
            </div>
        </a>

    </div>
</div>

</body>
</html>
