<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/basic.css" />
    <link rel="stylesheet" href="/stylesheets/tagList.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
</head>
<body>
    <%- include('header')%>
    <div class="container">
        <div class="realtimePopulateTagBox">
            <p class="realtimePopulateTag">
                <div class="tagTitle">
                    <h2>실시간 인기 채팅방</h2> <!-- 채팅 서버에서 끊어질 때마다 count -1 해야함 -->
                </div>
                <div class="tagListBox">
                    <ol class="tagList">
                        <li class="list">
                            <a href="#" class="tagRank">
                                <em class="num">1</em>
                                <span class="title">test</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="tagRank">
                                <em class="num">2</em>
                                <span class="title">test</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="tagRank">
                                <em class="num">3</em>
                                <span class="title">test</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="tagRank">
                                <em class="num">4</em>
                                <span class="title">test</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="tagRank">
                                <em class="num">5</em>
                                <span class="title">test</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="tagRank">
                                <em class="num">6</em>
                                <span class="title">test</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="tagRank">
                                <em class="num">7</em>
                                <span class="title">test</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="tagRank">
                                <em class="num">8</em>
                                <span class="title">test</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="tagRank">
                                <em class="num">9</em>
                                <span class="title">test</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="tagRank">
                                <em class="num">10</em>
                                <span class="title">test</span>
                            </a>
                        </li>
                    </ol>
                </div>
            </p>
        </div>
        <div class="realtimePopulateTagBox">
            <p class="realtimePopulateTag">
            <div class="tagTitle">
                <h2>오늘의 인기 태그</h2> <!-- 채팅 서버에서 끊어질 때마다 count -1 해야함 -->
            </div>
            <div class="tagListBox">
                <ol class="tagList">
                    <li class="list">
                        <a href="#" class="tagRank">
                            <em class="num">1</em>
                            <span class="title">test</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="tagRank">
                            <em class="num">2</em>
                            <span class="title">test</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="tagRank">
                            <em class="num">3</em>
                            <span class="title">test</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="tagRank">
                            <em class="num">4</em>
                            <span class="title">test</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="tagRank">
                            <em class="num">5</em>
                            <span class="title">test</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="tagRank">
                            <em class="num">6</em>
                            <span class="title">test</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="tagRank">
                            <em class="num">7</em>
                            <span class="title">test</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="tagRank">
                            <em class="num">8</em>
                            <span class="title">test</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="tagRank">
                            <em class="num">9</em>
                            <span class="title">test</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="tagRank">
                            <em class="num">10</em>
                            <span class="title">test</span>
                        </a>
                    </li>
                </ol>
            </div>
            </p>
        </div>
    </div>

</body>
</html>
