<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/basic.css" />
    <link rel="stylesheet" href="/stylesheets/tagList.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
</head>
<body>
<script>
    $(window).ready(function() {
        setInterval(function() {
            realtimeHotListVue.fetchData();
            todayListVue.fetchData();
        }, 2000)
    })
</script>
    <%- include('header')%>
    <div class="container">
        <div class="realtimePopulateTagBox" id="realtimeHotList">
            <p class="realtimePopulateTag">
                <div class="tagTitle">
                    <h2>실시간 인기 채팅방</h2> <!-- 채팅 서버에서 끊어질 때마다 count -1 해야함 -->
                </div>
                <div class="tagListBox">
                    <ol class="tagList">
                        <li v-for="(item, index) in items" class="list">
                            <a v-bind:href="'/chatrooms/tag/'+item.name" class="tagRank">
                                <em class="num">{{index}}</em>
                                <span class="title">{{item.name}}</span>
                                <span class="count">{{item.value}}</span>
                            </a>
                        </li>
                    </ol>
                </div>
            </p>
        </div>
        <div class="realtimePopulateTagBox">
            <p class="realtimePopulateTag">
            <div class="tagTitle">
                <h2>오늘의 인기 태그</h2> <!-- 채팅 서버에서 끊어질 때마다 count -1 해야함 -->
            </div>
            <div class="tagListBox" id="todayList">
                <ol class="tagList">
                    <li v-for="(item, index) in items" class="list">
                        <a v-bind:href="'/chatrooms/tag/'+(item.tag_name).split('#')[1]" class="tagRank">
                            <em class="num">{{index}}</em>
                            <span class="title">{{item.tag_name}}</span>
                            <span class="count">{{item.count}}</span>
                        </a>
                    </li>
                </ol>
            </div>
            </p>
        </div>
    </div>
    <script type="text/javascript">
        var todayListVue = new Vue({
            el: '#todayList',
            data: {
                items: []
            },
            created: function() {
                this.fetchData();
            },
            methods: {
                fetchData: function() {
                    var self = this;
                    axios.get('/popTag/todayList')
                    .then(function(data) {
                        var dataList = data.data.data;
                        console.log("todayList: ", dataList);
                        // 데이터 어떻게 바꿀건지 생각하셈
                        self.items = dataList;
                    })
                }
            }
        })
        var realtimeHotListVue = new Vue({
            el: '#realtimeHotList',
            data: {
                items: []
            },
            created: function() {
                this.fetchData();
            },
            methods: {
                fetchData: function() {
                    var self = this;
                    axios.get('/popTag/hotlist')
                        .then(function(data) {
                            var dataList = data.data;
                            // 데이터 어떻게 바꿀건지 생각하셈
                            console.log("realtimeHotList: ", dataList);
                            self.items = dataList;
                        })
                }
            }
        })
    </script>
</body>
</html>
