<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/register.css' />
    <script type="text/javascript" src="/javascripts/submitUrlHandler.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
</head>
<body>
<%- include('header')%>
<div class="registerTable">
    <div class="registerBox">
        <h2>Register</h2>
        <form name="frm_register" class="registerForm">
            <div class=form-input">
                <input type="text" name="uid" placeholder="Username" id="uid">
            </div>
            <div class=form-input">
                <input type="password" placeholder="password" name="password" id="password">
            </div>
            <div class=form-input">
                <input type="password" placeholder="password 확인" name="password2" id="password2">
            </div>
            <div class=form-input">
                <input type="text" name="email" placeholder="E-mail" id="email">
            </div>
            <div class=form-input">
                <input type="number" name="age" id="age" min="1" max="200" placeholder="age">
            </div>
            <div class="form-input">
                <input type="radio" name="gender" value="male" checked="checked">male
                <input type="radio" name="gender" value="female">female
            </div>

            <input type="button" value="회원가입" id="registerButton" class="btn-register">

            <script type="text/javascript">
                $(document).ready(function() {
                    $('#registerButton').click(
                        function (){
                            var _data = {
                                uid: $("#uid").val(),
                                password: $("#password").val(),
                                password2: $("#password2").val(),
                                email: $("#email").val(),
                                gender: $("input[type=radio][name=gender]:checked").val(),
                                age: $('#age').val()
                            };
                            $.ajax({

                                'type' : 'POST',
                                'url' : '/auth/register',
                                'data' : _data,
                                'success' : function(json){
                                    if(json['success'] === true){
                                        alert('회원가입 완료!!');
                                        document.cookie = 'token='+json['data']['token'] + ';path=/';
                                        location.replace('/');
                                    }else{
                                        alert(JSON.stringify(json));
                                    }
                                }

                            });
                        }
                    )
                })
            </script>
        </form>
    </div>
</div>
</body>
</html>
