@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

* {
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: unset;
    color: unset;
    color: aliceblue;
}
a:hover{
    text-decoration:none;
    color: aliceblue;
}
header{
    align-items: center;
    background-color: #212121;
    height: 5%;
    width: 100%;
}
header > .row{
    height: 100%;
    width: 100%;
}
.TitleHead{
    text-align: left;
}
.TitleHead > h2{
    margin-top: 8px;
}
.TitleHead > h2 > a{
    color: aliceblue;
    font-family: "배달의민족 주아";
}
.middleHead{
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    border: 2px black;  /* 얘는 뭐지 */
    color: #f1c83c;
    display: table-cell;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /*노란섀도우, 밑은 갈색섀도우*/
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px,#533d4a 5px 5px,#533d4a 6px 6px;
    transform: skew(-10deg); /* 기울기 */
    /*display: block; 얘는 블럭이라 하면 앞으로 감 */
    /*float: left;*/
    /*min-width: 10px;
    min-height: 10px;*/
    /*position: relative;*/

}

/*메인페이지 로그인*/
.loginStatus{
    width: 30%;
    text-align: center;
    color: #533d4a;
    font-weight: bold;
    font-size: 19px;
/*  color: #2b9f5e;
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px;*/

    display: table-cell;
    vertical-align: middle;
}
.loginHead > a{
    font-size: 1.5rem;
    display: inline-block;
    color: aliceblue;
    font-family: "배달의민족 주아";
    margin-top: 7px;
}
.item{
    margin: 1rem 1rem;
}
.line{
    height: 1px;
    width: 70%;
    border: 1px solid black;
    background: black;
    margin: auto auto;
}
