@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

* {
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: unset;
    color: unset;
}
html, body {
    height: 100%;
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1{
    display: inline-block;
}

header{
    align-items: center;
    line-height: inherit;
    display: table;
    width: 100%;
    height: 11%;
}
.rightClass{
    width: 28%;
    height: 6rem;
    display: table-cell;
    vertical-align: middle;
}
.pageTitle{
    width: 40%;
    height: auto;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    border: 2px black;  /* 얘는 뭐지 */
    color: #f1c83c;
    display: table-cell;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /*노란섀도우, 밑은 갈색섀도우*/
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px,#533d4a 5px 5px,#533d4a 6px 6px;
    transform: skew(-10deg); /* 기울기 */
    /*display: block; 얘는 블럭이라 하면 앞으로 감 */
    /*float: left;*/
    /*min-width: 10px;
    min-height: 10px;*/
    /*position: relative;*/

}

/*메인페이지 로그인*/
.loginStatus{
    width: 30%;
    text-align: center;
    color: #533d4a;
    font-weight: bold;
    font-size: 19px;
    display: table-cell;
    vertical-align: middle;
}

.button{
    width: 15%;
    text-align: center;
    vertical-align: middle;
    color: #533d4a;
    /*background-color: #f1c83c;*/
    background-color: #EBE9D1;
    border: 2px solid #533d4a;
    border-radius: 5px;
    font-size: 13px;
}

.container{
    text-align: center;
    width: 100%;
    height: 80%;
}
.item{
    margin: 1rem 1rem;
}
.line{
    height: 1px;
    width: 70%;
    border: 2px solid black;
    background: #f1c83c;
    margin: 1% auto 1% auto;
   /* box-shadow: 0px -10px 0px black;*/
}