
/*메인페이지 tag 더보기*/
.anc_tagList{
    width: 65%;
   /* margin: 1% auto;*/
    margin: 1% 1% 1% 2%;
    text-align: right;
    color: #533d4a;
    font-weight: bold;
    /*transform: skew(-10deg);*/
    font-size:18px;
}

.tagUrl{
    line-height: 3rem;
    display: block;
    flex-direction: column;
    align-items: center;
    margin: auto auto;
    width: 65%;
}
.rankRoom{
    /*border: 2px solid black;*/
    text-align: center;
    line-height: 100px;
    margin: 15px auto;
    height: 60%;
    width: 65%
}
.input_tagUrl{
  border: 1px solid #533d4a;
  height: 1.8rem;
  width: 60%;
  /*margin: 0.5rem 0.5rem;*/
    margin: 1.5% 0% 0% 10%;
  display: inline-block;
  float: left;
    vertical-align: middle;
}
.btn_url{
  border-radius: 5px;
  width: 20%;
  height: 1.9rem;
  /*margin: 0.5rem 0.5rem;*/
    margin: 1.5% 0% 0% 2%;
  display: inline-block;
  float: left;
  vertical-align: middle;
    /*background-color: white;*/
    background-color: #f1c83c;
    /*backgroud-color: #533d4a;*/
    /*color: yellow;*/
    /*color: #f1c83c;*/
    color: white;
    /*color: #533d4a;*/
    font-size: 13px;
    /*border: 2px solid #f1c83c;*/
    border: 2px solid #533d4a;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn_url:hover {
    background-color: white;
    /*background-color: #f1c83c;*/
    color: #533d4a;
    /*color: white;*/
}


