.anc_tagListBox > .col-md-2{
    margin-top: 1rem;
    text-align: right;
}
.anc_tagListBox > .col-md-2 > a{
    font-family: "배달의민족 주아";
    font-size: 1.5rem;
}
.rankRoom{
    border: 2px solid lightgray;
    margin-bottom: 1rem;
    height: 700px;
    width: 100%;
}
.rankRoom > div > canvas{
    background-color: white;
}
.btn_url{
  border-radius: 5px;
  width: 20%;
  height: 1.8rem;
  margin: 0.5rem 0.5rem;
  display: inline-block;
  float: left;
  vertical-align: middle;
}
.from-group > .btn{
    background-color: #4d4d4d;
    font-family: "배달의민족 주아";
    font-size: 1.4rem;
}

.from-group > .btn:hover{
    background-color: #3293F3;
}