.userInfoBox{
    vertical-align: center;
    margin: 2.5rem auto;
    width: 40%;
}
.userLevelImg{
    width: 7rem;
    height: 7rem;
    border: 1px solid black;
    vertical-align: center;
    margin: auto auto;
}
.userUid{
    font-weight: bold;
    font-size: 1.5rem;
}
.userEmail{
    font-weight: bold;
    font-size: 1.5rem;
}
.anc_userInfoEdit{
    text-align: right;
}