* {
  margin: 0px;
  padding: 0px;
  font-family: "배달의민족 주아";
  color: aliceblue;
}
html, body {
  height: 100%;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

h1{
  display: inline-block;
}
.selector-for-some-widget {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}