em{
    font-style: normal;
}
.realtimePopulateTagBox{
    margin: 2.5rem auto;
    width: 20%;
    border: 1px solid black;
    display: inline-block;
    background-color: #FDFEFD;
}
.tagTitle{
    margin: 1.5rem;
    font-size: 1.5rem;
    color: #2b9f5e;
    /*transform: translateX(-50%) rotate(-10deg);*/
    transform: skew(-10deg);
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
    min-width: 10px;
    min-height: 10px;
}
.list{
    margin: 0.8rem;
    font-size: 1.3rem;
    display: block;
    text-align: left;
 }
.num{
    border: 1px solid lightgrey;
    background-color: lightgrey;
    width: 1.8rem;
    height: 1.8rem;
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1.5rem;
    text-align: center;
    font-weight: bold;
}

body{
    background-color: #EBE9D1;
}