.container{
    text-align: center;
    width: 100%;
    height: 80%;
}
.realtimePopulateTagBox{
    vertical-align: center;
    margin: 2.5rem auto;
    width: 40%;
}
.tagTitle{
    margin: 1.5rem;
    font-size: 1.5rem;
}
.tagRank{
    margin: 1rem;
    font-size: 1.3rem;
}