
#writePost{
    display: inline-block;
    vertical-align: center;
    margin: auto auto;
}


.inputBox{
    padding: 0.3rem;
    font-color:#533d4a;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    border: 2px solid #ddd;
    margin: 5px 0;
    padding: 7px 10px;

}
form textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 500px;
}

.submit_btn {
   /* background: #3498db;*/
    width: 70%;
    border-radius: 4px;
    border:none;
    color: #fff;
    padding: 10px;
    letter-spacing: .5px;
    font-size: 1.1em;
    background-color: #f1c83c;
    border-bottom: 3px solid #533d4a;
    border-right: 3px solid #533d4a;
    margin: 3% 20% auto 20%;
}
